#texto1{
    appearance: none;

}

.icon-mail-outline{
    color: crimson;
    font-size: 35px;
    display: flex;
    align-items: center;
}

.aba1 p{
    display: none;
}

#texto1:checked + .aba1 p{
    display: block;
}